<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Script</title>
</head>
<body>
    <h1>Voice Assistant</h1>
    <form action="{{ url_for('run_script') }}" method="get">
        <!-- <div class="form-group mb-3">
            <textarea id="transcription-box" class="form-control" rows="3" placeholder="Type a question or press record."></textarea>
        </div> -->
        <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" style="width:50%" id="ask-button">Ask</button>
        </div>
    </form>
</body>
</html>